.textInput {
    background-color: white;
    width:155px;
    padding: 6px 11px;
    font-family: Raleway;
    font-style: italic;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    margin-right: 5px;
    border: 1px solid black;
}

.text-button{
    display: flex;
    flex-direction: row;
}

.wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title{
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}