@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

@media only screen and (min-width: 600px){
.collection-card{
width: 375px;
height: 200px;
background-color: #FAE5DC;
}
.collect-header{
line-height: 26px;   
margin-top: 36px;   
display: flex;
width: 285px;
height: 26px;
flex-direction: row;
justify-content: center;
align-items: center;
padding-left: 23px;
}
.collection-arrow{
border: 100px;
margin-right: 33px;
margin-top: 5px;
font-weight: none;
}    

.collection-title {
height: 26;
font-family: 'Raleway', sans-serif;
font-weight: bold;
font-size: 20px;
line-height: 21px;
text-align: center;
color: #000000;
}
.collection-content {
text-align: center;
margin-top: 15px;
}
.collection-quote p{   
font-size: 15px;    
text-align: center;
font-family: 'Raleway', sans-serif;
}
.collection-footer{
margin-top: 17px;    
text-align: center;    
font-size: 15px;    
font-family: 'Raleway', sans-serif;
}
}
