.component-collection {
    width: 480px;
    height: 350px;
    background-color: rgb(246, 230, 222);
    padding: 20px;
}

.image {
    width: 170px;
    height: 220px;
    margin: 30px 20px 0 20px;
}

.collection-title {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.third {
    visibility: hidden;
}
.fourth {
    visibility: hidden;
}

@media only screen and (min-width: 480px) {
    .component-collection {
        width: 960px;
    }
    .third {
        visibility: visible;
    }
    .fourth {
        visibility: visible;
    }
 }