/* .component-collection {
    width: 100%;
    height: 180px;
    background-color: rgb(246, 230, 222);
}

.image {
    width: 120px;
    height: 140px;
    margin: 5px;
}

.collection-title {
    text-align: center;

    font-weight: bold;
}

.first {
    margin-left: 40px;
}

.third {
    display: none;
}
.fourth {
    display: none;
}

@media only screen and (min-width: 480px) {
    .component-collection {
        width: 100%;
        height: 260px;
    }

    .image {
        width: 150px;
        height: 200px;
        margin: 20px;
    }

    .third {
        display: inline-block;
    }
    .fourth {
        display: inline-block;
    }
 } */