.menu-toggle {
    text-indent: -9999px; /* Keeps the text 'Show Menu' for screen readers but
              hides it from visibility for everyone else. */
    position: relative;
  
    /* The clickable area. You'll have to adjust the manual positioning of the
              bars if you use padding or change these values */
    width: 26px;
    height: 40px;
  }
  
  /* This is how we create two Pseudo elements */
  .menu-toggle::before,
  .menu-toggle::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 26px;
    height: 3px;
    background-color: black;
    transition: transform 0.3s ease-in;
  }
  
  /* Position the bars apart however you like, relative to the parent toggle size */
  .menu-toggle::before {
    transform: translateY(15px);
  }
  .menu-toggle::after {
    transform: translateY(23px);
  }
  
  .sidebar-is-open .menu-toggle::before {
    transform: translate(0, 20px) rotate(45deg);
  }
  
  .sidebar-is-open .menu-toggle::after {
    transform: translate(0, 20px) rotate(-45deg);
  }
  
  /* Optional alternative according to Apple: the third bar */
  .menu-toggle span.middle-bar {
    display: block;
    width: 26px;
    height: 3px;
    transition: opacity 0.2s;
    opacity: 1;
  }
  
  .sidebar-is-open .menu-toggle span.middle-bar {
    opacity: 0;
  }

.cross :target {
  display: none;
}
