@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');


.designerContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.designerParagraph {
    font-family: 'Playfair Display', serif;
    font-size: 11px;
    line-height: 15px;
    width: 50%;
    height: 97px;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin: 10px;
}

.designerImage {
    max-width: 100%;
    width: 125px;
    height: 133px;
    display: block; 
}

@media (min-width: 768px) {
    .designerParagraph {
        font-size: 30px;
        line-height: 40px;
    }
    .designerImage {
        width: 250px;
        height: 266px;
        display: block;
    }
    .designerTitle{
        text-align: right;
        margin: 20px;
    }
  }