@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');


.designerContainer {
    display: flex;
}

.designerParagraph {
    font-family: 'Playfair Display', serif;
    font-size: 11px;
    line-height: 15px;
    width: 161px;
    height: 97px;
    left: 177px;
    top: 1159px;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin: 10px;
}


@media screen and (min-width: 600px) {
    .designerParagraph {
        width: 834.05px;
        height: 109px;
        left: 412.05px;
        top: 1245px;
        font-size: 30px;
        line-height: 40px;
    }
    .designerImage{
        width: 249.45px;
        height: 266px;
        left: 114px;
        top: 1203px;
    }
  }