

.Nav{
    display: none;
}

.loop{
    width: 40px;
}

.header{
    background-color: #E5E5E5;
    height: 84px;
    width: 100%;
    padding-top: 37px;
}

.MobNav{
    display: flex;
    flex-direction: row;
}




@media only screen and (min-width: 800px){
    .header{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fae5dc;
        
    }
}
