.nav-bar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background-color: #E5E5E5;
    padding: 10px 20px;
}

.desktop-style {
    padding: 0px 10px;
}

.mobile-style {
    display: none;
    padding: 0px 10px;
}

@media screen and (max-width: 768px) {
    .nav-bar {
        justify-content: space-between;
    }
    .desktop-style {
        display: none;
    }
    .mobile-style {
        padding-top: 15px;
        display: block;
    }
  }
    