.some{
    flex-direction: row;
    padding-top: 10px;
}

#fb{
    width: 26px;
    padding-right: 6px;
}

#in{
    width: 26px;
    padding-right: 6px;
}

#pi{
    width: 26px;
    padding-right: 6px;
}

.con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

